<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    <header><h1><a href="/"> Blog Django </a></h1></header>
{% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}

    <article>
            <h1><time>published: 14.06.2014, 12:14</time></h1>
            <h2><a href="">My first post</a></h2>
            <p>Não tema ao erro, pois é por este que se aprende. Por incrivel que pareça, ele é um alido.</p>
    </article>


    <article>
            <h1><time>published: 14.06.2014, 12:14</time></h1>
            <h2><a href="">My second post</a></h2>
        <p> <h2>Provérbios 24:27</h2>
Não construa a sua casa, nem forme o seu lar até que as suas plantações estejam prontas e você esteja certo de que pode ganhar a vida.</p>
    </article>


</body>
</html>